@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about_main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 3rem 1rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.719);
    flex-wrap: wrap;
}

.about_left {
    /* border: 1px solid black; */
    width: 45%;
    padding: 1rem;
}
.about_left h1 {
    font-size: clamp(28px, 4vw, 45px);
    color: rgba(53, 137, 231, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.about_left p {
    font-size: clamp(15px, 2vw, 18px);
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    margin-bottom: 2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.637);
    width: 97%;
}
.about_left .blueSpan {
    color: blue;
    font-weight: 600;
}
.about_left .greenSpan {
    color: rgb(4, 172, 4);
    font-weight: 600;
}

.about_left .abtlft_Box {
    padding: 15px;
}
.abtlft_Box h3 {
    font-size: clamp(18px, 3vw, 23px);
    color: rgba(53, 137, 231, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}
.abtlft_Box p {
    font-size: clamp(14px, 2vw, 17px);
    color: rgba(0, 0, 0, 0.822);
}
.abtlft_Box .abtlftBox_educ {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    text-align: center;
    flex-wrap: wrap;
}
.abtlftBox_educ .eduBox_icon {
    font-size: clamp(22px, 3vw, 28px );
    margin-bottom: 10px;
    color: rgba(0, 0, 255, 0.623);
}
.abtlftBox_educ h4 {
    font-size: clamp(17px, 3vw, 21px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.705);
}
.abtlftBox_educ p {
    color: rgba(0, 0, 0, 0.61);
}

.about_right {
    width: 48%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about_right .abt_Box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 0rem;
    border-radius: 15px;
    box-shadow: 0px 2px 3px whitesmoke;
    background-color: whitesmoke;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.abt_Box:hover {
    transform: scale(1.015);
}

.abt_Box .icon {
    font-size: clamp(20px, 5vw, 25px);
    color: white;
    font-weight: 600;
    background-color: rgba(53, 137, 231, 1);
    padding: 8px 8px 2px 8px;
    border-radius: 50%;
    line-height: 1.2;
}
.abt_Box h2{
    font-size: clamp(17px, 3vw, 21px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
    color: rgba(53, 137, 231, 1);
    font-weight: 600;
}
.abt_Box p {
    font-size: clamp(15px, 2vw, 16px);
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.795);
    font-family: 'Noto Sans', sans-serif;

}


@media (min-width: 992px) {
    .about_main {
        flex-direction: row;
        padding: 4rem 1rem;
        gap: 3rem;
    }
}

@media (max-width: 991px) {
    .about_main {
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }

    .about_left,
    .about_right {
        width: 90%;
    }

    .about_left p {
        width: 100%;
    }

    .abtlft_Box .abtlftBox_educ {
        gap: 1.5rem;
    }
}


@media (max-width: 600px) {
  .about_main {
    padding: 2rem 1rem;
    gap: 1.5rem;
  }

  .about_left h1 {
    font-size: 26px;
  }

  .about_left p {
    font-size: 15px;
  }

  .abt_Box {
    flex-direction: column;
    text-align: center;
  }

  .abt_Box .icon {
    font-size: 22px;
  }
}


