*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_main{
    width: 100%;
    padding: 7.5rem 2.5rem 2rem 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background: linear-gradient(rgba(56, 56, 122, 0.267), rgba(255, 255, 255, 0.562), rgba(47, 47, 107, 0.274));
}

.home_text {
    flex: 1;
    min-width: 300px;
    /* width: 60%; */
    padding: 1.5rem;
    margin-top: 1.5rem;
}
.home_text h1 {
    font-size: clamp(32px, 5vw, 55px);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1.5rem;
}
.grad-text {
    background: linear-gradient(153deg, rgba(53, 137, 231, 1) 5%, rgba(20, 181, 139, 1) 83%);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
    background-clip: text;          
    color: transparent;
}

.home_text h3 {
    font-size: clamp(19px, 2.5vw, 25px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.671);
    margin-bottom: 2rem;
}

.home_text .hmtext_btn{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}
.hmtext_btn button {
    background: #3589E7;
    background: linear-gradient(153deg, rgba(53, 137, 231, 1) 5%, rgba(20, 181, 139, 1) 83%);
    color: white;
    font-size: clamp(15px, 2vw, 20px);
    padding: 10px 16px;
    border-radius: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
    font-family:  Arial, Helvetica, sans-serif;
    transition: all 0.2s ease-in-out;
}
.hmtext_btn button a {
    text-decoration: none;
    color: white;
}

.hmtext_btn h4{
    transition: all 0.2s ease-in-out;
}
.hmtext_btn h4 a {
    font-size: clamp(15px, 2vw, 20px);
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
    padding: 10px 16px;
    border: 0.8px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-family:  Arial, Helvetica, sans-serif;  
    font-weight: 500;   
    text-decoration: none;
}

.hmtext_btn button:hover,
 h4:hover {
    transform: translateY(-3px);
    /* margin-left: 3px; */
 }


.home_text .hmtext_icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
.hmtext_icons a {
    background-color: rgba(255, 255, 255, 0.897);
    color: black;
    border: 500px;
    padding: 8px 8px 1px 8px;
    border-radius: 500px;
    text-decoration: none;
    cursor: pointer;    
    font-size: 25px;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.hmtext_icons a:hover {
    background: black;
    color: white;
    transform: translateY(-2px);
}

.home_img{
    flex: 1;
    min-width: 280px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* width: 40%; */
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;

}
.home_img img {
    width: 100%;
    max-width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* height: 26rem; */
    border-radius: 50%;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 255, 0.322);
}


.hmimg_icon {
    padding: 8px;
    background-color: rgba(0, 0, 255, 0.596);
    font-size: clamp(40px, 5vw, 50px);
    cursor: pointer;
    border-radius: 500px;
    position: absolute;
    top: 0rem;
    right: 4rem;
    /* margin-left: 5rem; */
}




@media (max-width: 768px) {
    .home_main {
        flex-direction: column;
        text-align: center;
    }

    .home_text {
        width: 100%;
    }

    .home_img {
        width: 100%;
        margin-top: 1.5rem;
    }

    .home_img img {
        max-width: 280px;
    }

    .hmtext_btn {
        justify-content: center;
    }

    .hmtext_icons {
        justify-content: center;
    }

    .hmimg_icon {
        top: 0;
        right: 12rem;
        left: 5rem;
    }
    
}