*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    position: relative;
    padding: 0 auto;
}

.nav_main {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top: 1rem;                
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0.8rem 2rem; */
    padding: 1rem 3rem;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 20px;
}

.nav_main h1 {
    font-size: clamp(23px, 3vw, 28px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    background: linear-gradient(153deg, rgba(53, 137, 231, 1) 5%, rgba(20, 181, 139, 1) 83%);
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
    background-clip: text;           
    color: transparent;
}

.nav_links ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    list-style-type: none;
}

.nav_links ul li a{
    font-size: 19px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}
.nav_links ul li:hover {
    border-bottom: 2px solid black;
}

.menuIcon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}


@media (max-width : 768px) {

    .nav_main {
        align-items: center;
        padding: 0.6rem 2rem;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
        align-items: center; 
        position: absolute;
        top: 4rem;
        right: 0;
        gap: 1.5rem;
        font-size: 19px;
       }

    .nav_links ul {
        display: none;
        flex-direction: column;
        gap: 0.8rem;
        background-color: rgba(255, 255, 255, 0.281);
        padding: 1.5rem;

    }
    .nav_links ul li {
        padding: 0px 0px 3px 2px;
        border-bottom: 2px solid transparent;
    }
    .nav_links ul li:hover {
        border-bottom: 2px solid black;
    }

    .nav_links.show ul {
        display: flex;
    }

    .menuIcon {
        font-size: 28px;
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding-top: 8px;
    }

}